Redirect 301 /film_festival/film-series/ /event-series/film-series/
Redirect 301 /film_festival/2015-film-festival/ /event-series/film-series/

RedirectMatch 301 ^/team/(.*) /leadership
RedirectMatch 301 ^/press/(.*) /in-the-press

RedirectMatch 301 ^/ISFC(.*) /event-series/ISFC/


RedirectMatch 301 ^/addtocalendar/(.*) /feed/calendar/

#RewriteEngine On
#RewriteRule ^/addtocalendar/([0-9]+)$ /feed/calendar/?id=$1
#RewriteRule ^/addtocalendar/?id=(.*)$ /feed/calendar/?id=$1


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^staging\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
</IfModule>


# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


#Local
#php_value upload_max_filesize 128M
#php_value post_max_size 128M
#php_value max_execution_time 300
#php_value max_input_time 300