

.event-tickets {

	a.block-link {
		margin-bottom:20px;
	}
}


.event-social {

	span {
		position: relative;
		display:inline-block;
		margin-right:12px;
		margin-left:12px;
	}

	.event-social-share {
		display:none;
		position: absolute;
		z-index: 9;
		top:30px;
		left:50%;
		margin-right:0;
		margin-left:0;
		background-color:$color-light;

		font-size:1px;

		@include transform(translateX(-50%));

		a {
			display:inline-block;
			margin-bottom: 12px;
			color:#808080;
			font-size:1px;
			// white-space:nowrap;
			// vertical-align:middle;
			letter-spacing:0;

			svg {
				width:auto;
				height:12px;
				margin-right: 2px;
				vertical-align:middle;

				path,
				polygon {
					fill:#808080;

					@include transition(fill .2s linear);
				}
			}

			&.event-email-link {

				svg {
					height:9px;
				}
			}

			&:hover {
				
				svg {

					path,
					polygon {
						fill:$color-brand;
					}
				}
			}
		}
	}
}

.events-bio {

}

.events-bio-portrait-col {
	width:200px;
	float:left;

	&.author-portrait-col {
		width:300px;
	}

@include responsive-max(screen-medium) {
	
	&.author-portrait-col {
		width:200px;
	}
}
@include responsive-max(screen-small) {
	width:75px;

	&.author-portrait-col {
		width:75px;
	}
}
}

.events-bio-text-col {
	margin-left:200px;

	&.author-text-col {
		margin-left:300px;
	}

@include responsive-max(screen-medium) {
	
	&.author-text-col {
		margin-left:200px;
	}
}
@include responsive-max(screen-small) {
	margin-left:0px;

	&.author-text-col {
		margin-left:0;
	}
}
}