$color-brand:#891ee1;
$color-light:#ffffff;
$color-dark:#000000;
$color-grey:#cccccc;

$color-background-light:#f7effd;


$font-brand: 'le-monde-livre-std', 'Times New Roman', Times, Georgia, serif;
$font-secondary: 'Barlow', Helvetica, Arial, 'Roboto', sans-serif;


$font-light: 300;//Le Monde Livre Regular
$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;
// $font-heavy: 800;
// $font-black: 900;


$font-subsm: 11px;
$font-small: 13px;
$font-qualifier: 14px;
// $font-caption: 14px;
// $font-segue: 15px;
$font-standard: 16px;
$font-body: 18px;
// $font-item: 17px;
$font-details: 20px;
$font-intro:22px;
$font-subject:24px;
$font-feature:30px;
$font-subtitle: 35px;
$font-nav: 40px;
$font-title: 50px;
// $font-statement: 4.5vw;


$tracking-10:0.01em;
$tracking-50:0.05em;
$tracking-100:0.1em;
// $tracking-150:0.15em;


// $leading-09: 0.9em;
$leading-same: 1em;
$leading-12: 1.2em;
$leading-13: 1.3em;
$leading-145: 1.45em;
// $leading-158: 1.58em;


$screen-subsm:  375px;
$screen-small:  640px;
$screen-submed:  750px;
$screen-medium: 768px;
$screen-subreg: 900px;
$screen-regular: 990px;
$screen-standard: 1024px;
$screen-wide:  1200px;
$screen-major:  1366px;