.page-folcs-studio {

.leave-stream {
	margin-top: 20px;
	text-align: right;

	span {
		display:inline-block;
		padding:14px 20px;
		border:2px solid $color-dark;
		background-color: $color-light;
		text-align:center;
		cursor: pointer;

		color:$color-dark;

		font: {
			weight:$font-semi;
			size:$font-small;
			family:$font-secondary;
		}
		
		line-height:$leading-same;
		letter-spacing:$tracking-50;
		text-transform:uppercase;

		text-decoration:none;
	}
}

.folcs-studio-links {

	a:first-child {
		margin-right: 20px;
	}
}



}

.live-banner {
	position: fixed;
	z-index: 9;
	right:0;
	bottom:20px;
	max-width: 250px;
	background-color: $color-light;
	// border:1px solid $color-dark;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);

	&:before {
		content:'';
		display: block;
		position: absolute;
		top:0;
		left:0;
		width:20px;
		height:100%;
		background-color: $color-background-light;
	}

	.type-placeholder {
		margin-bottom: 5px;
	}

	a {
		font-weight:$font-semi;
		font-size: $font-small;
	}
}


.no-touchevents {

	.leave-stream span {
		@include transition(background-color .3s ease-out, color .3s ease-out);

		&:hover {
			background-color: $color-dark;
			color:$color-light;
		}
	}
}