

.page-register {

	.type-limit {
		margin-bottom: 50px;
	}

	.register {
		text-align: center;

		iframe {
		    width: 100%;
		    max-width: 450px;
		}
	}
}


.page-join-mailing-list {

	.app {
		min-height:calc(100vh - 100px - 213px);
	}

@include responsive-max(screen-small) {
	
	.app {
		min-height:calc(100vh - 70px - 408px);
	}
}
}